* {
	color: white;
}

@font-face {
    font-family: 'black_ops_oneregular';
    src: url('blackopsone-regular-webfont.eot');
    src: url('blackopsone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('blackopsone-regular-webfont.woff2') format('woff2'),
         url('blackopsone-regular-webfont.woff') format('woff'),
         url('blackopsone-regular-webfont.ttf') format('truetype'),
         url('blackopsone-regular-webfont.svg#black_ops_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'electrolizeregular';
    src: url('electrolize-regular-webfont.eot');
    src: url('electrolize-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('electrolize-regular-webfont.woff2') format('woff2'),
         url('electrolize-regular-webfont.woff') format('woff'),
         url('electrolize-regular-webfont.ttf') format('truetype'),
         url('electrolize-regular-webfont.svg#electrolizeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    background: url('images/noirefond.jpg');
    font-family: 'electrolize', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

{
    font-family: 'electrolize', serif;
    font-weight: normal;
    text-transform: uppercase;
}

header
{
    background: url('images/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}

header h1
{
    font-family: 'electrolize', serif;
    font-size: 4.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: 'electrolize', serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    color: white;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

#banniere_image
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('images/bannierecrop.png') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
    
}

.bouton_rouge
{
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('images/bouton.2.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.bouton_rouge img
{
    border: 0;
}

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}

article h1
{
    font-size: 1.7em;
    text-align: left;
}

.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 0.8em;
}

aside
{
    flex: 1.2;
    position: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #808080;
    opacity: 0.9;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

aside img
{
    margin-right: 5px;
}

footer
{
    display: flex;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}


#tweet
{
    width: 28%;
}

#mes_photos
{
    width: 35%;
}

#mes_amis
{
    width: 31%;
}

#mes_photos img
{
    border: 1px solid #181818;
    margin-right: 2px;
}

tr
{
    background-color: #808080;
    border-color: ##8c8c8c;
    opacity: 0.9;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
}